src/folder/DLRGonlineGenerated.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Mitglieder">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mitglied" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Daten">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Name"/>
                                        <xs:element name="Anschrift">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Wohnort"/>
                                                    <xs:element type="xs:float" name="Postleitzahl"/>
                                                    <xs:element type="xs:string" name="Straße"/>
                                                    <xs:element type="xs:float" name="Hausnummer"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:string" name="Geburtstag"/>
                                        <xs:element type="xs:string" name="Email"/>
                                        <xs:element type="xs:string" name="Beitritsdatum"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Teilnehmer" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Abzeichen">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Schwimmen">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Bronze"/>
                                                                <xs:element type="xs:string" name="Silber"/>
                                                                <xs:element type="xs:string" name="Gold" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Kontaktperson" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Name"/>
                                                    <xs:element type="xs:float" name="Telefonnummer"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Lehrer" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Abzeichen">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Rettungsschwimmerbronze"/>
                                                    <xs:element type="xs:string" name="Rettungsschwimmersilber"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Lehrscheine">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Assistent">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Schwimmassistent"/>
                                                                <xs:element type="xs:string" name="Rettungsschwimmassistent"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Ausbilder">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="Schwimmausbilder"/>
                                                                <xs:element type="xs:string" name="Rettungsschwimmausbilder"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>